<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= bootstrap_form_with(model: @contact_group, url: share_create_contact_group_path, remote: true) do |form| %>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Share</h4>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      <div class="modal-body">

        <div class="field">
          <%= form.label :share_id, "Email of user you wish to share with:" %>
          <%= form.email_field :share_id, hide_label: true %>
        </div>

      </div>
      <div class="modal-footer">
        <div class="actions" >
          <%= form.submit "Share Group" %>
        </div>
      </div>
    <% end %>
  </div>
</div>