<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Invites</h4>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        
        <table>
          <thead>
            <tr>
              <th>Pending Invites</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% if @pending_share_invites.blank? %>
              <tr>
                <td>No Pending Invites</td>
              </tr>
            <%else%>
              <% @pending_share_invites.each do |share_invite| %>
                <tr>
                  <td><%= User.where( id: share_invite.sharer_id ).first.email%> wishes to share their '<%= ContactGroup.where( id: share_invite.contact_group_id ).first.group_name %>' group with you: </td>
                  <td><%= link_to 'Accept', accept_share_invite_path(share_invite) %></td>
                  <td><%= link_to 'Decline', decline_share_invite_path(share_invite) %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <br>
        <table>
          <thead>
            <tr>
              <th>Accepted Invites</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% if @accepted_share_invites.blank? %>
              <tr>
                <td>No Accepted Invites</td>
              </tr>
            <%else%>
              <% @accepted_share_invites.each do |share_invite| %>
                <tr>
                  <td><%= User.where( id: share_invite.sharer_id ).first.email%> is sharing their '<%= ContactGroup.where( id: share_invite.contact_group_id ).first.group_name %>' group with you: </td>
                  <td><%= link_to 'Unshare', share_invite, method: :delete, data: { confirm: "Are you sure wish to unshare? If you continue you will lose access the #{ContactGroup.where( id: share_invite.contact_group_id ).first.group_name} group and all associated contacts"} %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <br>
        <table>
          <thead>
            <tr>
              <th>Sent Invites</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% if @sent_share_invites.blank? %>
              <tr>
                <td>No Invites To Your Groups Sent</td>
              </tr>
            <%else%>
              <% @sent_share_invites.each do |share_invite| %>
                <tr>
                  <td>You sent a request to share your <%= current_user.contact_groups.find(share_invite.contact_group_id).group_name %> with <%= User.where( id: share_invite.receiver_id ).first.email%>: Status "<%= share_invite.status %>" </td>
                  <td style="padding-left:10px;"><%= link_to 'Revoke', share_invite, method: :delete, data: { confirm: "Are you sure wish to Revoke? If you continue you will remove access to the #{ContactGroup.where( id: share_invite.contact_group_id ).first.group_name} group and all associated contacts from #{User.where( id: share_invite.receiver_id ).first.email}"} %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
  </div>
</div>