<h1>Share Invites</h1>

<table>
  <thead>
    <tr>
      <th>Invites</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @share_invites.each do |share_invite| %>
      <tr>
        <td><%= User.where( id: share_invite.sharer_id ).first.email%> wishes to share their '<%= ContactGroup.where( id: share_invite.contact_group_id ).first.group_name %>' group with you: </td>
        <!-- <td><%= share_invite.sharer_id %></td>
        <td><%= share_invite.receiver_id %></td>
        <td><%= share_invite.contact_group_id %></td>
        <td><%= share_invite.status %></td> -->
        <td><%= link_to 'Accept', accept_share_invite_path(share_invite) %></td>
        <td><%= link_to 'Decline', decline_share_invite_path(share_invite) %></td>
         <!-- <td><%= link_to 'Destroy', share_invite, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>