<div class="row" style="padding-top: 10px;">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title" style="padding-bottom: 5px;">Contacts</h2>

        <!--<div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>-->
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0 my-custom-scrollbar d-none d-md-block">
        <table class="table table-hover table-head-fixed">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Phone number</th>
              <th>Contact email</th>
              <% if @search_groups_ids.blank?%>
              <%else%>
                <th>Contact Group</th>
              <%end%>
              <th colspan="2"></th>
            </tr>
          </thead>
          <% if @contacts.present? %>
            <tbody>
              <% @contacts.each do |contact| %>
                <tr>
                  <td><%= contact.first_name %></td>
                  <td><%= contact.last_name %></td>
                  <td><%= contact.phone_number %></td>
                  <!-- <td><%= contact.contact_picture %></td> -->
                  <td><%= contact.contact_email %></td>
                  <% if @search_groups_ids.blank?%>
                  <%else%>
                    <td><%= current_user.contact_groups.find( contact.contact_group_id ).group_name %></td>
                  <%end%>
                  <td><%= link_to 'Edit', edit_contact_path(contact), remote: true %></td>
                  <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
      <div class="card-body table-responsive p-0 my-custom-scrollbar-xs d-block d-md-none">
        <table class="table table-hover table-head-fixed">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <% if @contacts.present? %>
            <tbody>
              <% @contacts.each do |contact| %>
                <tr>
                  <td><%= contact.first_name %></td>
                  <td><%= contact.last_name %></td>
                  <td><%= link_to 'Edit', edit_contact_path(contact), remote: true %></td>
                  <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <%= link_to 'New Contact', new_contact_path, remote: true, class: "btn btn-primary" %>
</div>