<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>MintBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head>

  <body class="hold-transition layout-fixed" style="height: 100%;">
    <div class="modal fade" id="shared-modal" tabindex="-1" role="dialog" aria-labelledby="shared_modal" aria-hidden="true">
    </div>
      <% if current_user %>
      
      <div class="wrapper">
        <%= render 'homes/navbar' %>
        <%= render 'homes/sidebar' %>
        <div class="content-wrapper">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
      <% else %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
      <% end %>
  </body>
</html>
